jupyter==1.0.0
requests~=2.32
numpy~=1.26
scipy~=1.13
pandas~=2.2
streamlit~=1.41
openpyxl~=3.1
scikit-learn~=1.6
seaborn~=0.13
joblib~=1.4
fastapi~=0.112
sqlalchemy~=2.0
pydantic~=2.10
python-dotenv~=0.21
psycopg2~=2.9
uvicorn~=0.32
fastapi-cli